{% extends 'base.html.twig' %}

{% block title %}Hello ToDoListController!
{% endblock %}
{% block stylesheetsaddons %}
	<link href="{{ asset('todolist/css/todolist.css') }}" rel="stylesheet">

{% endblock %}
{% block body %}


	{% for flashMessage in app.session.flashbag.get('error') %}

		{% for message in flashMessage %}
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
		{% endfor %}

	{% endfor %}
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Awesome Todo list</h4>

			<form method="post" action="{{ path('create_task') }}">


				<div class="input-group mb-3">
					<input type="text" class="form-control" name="task_description" placeholder="What do you need to do today?">
					<button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button>
				</div>

			</form>

			<ul class="list-group">
				{% for task in tasks %}
					<li {% if task.isStatusTask %} class="list-group-item d-flex justify-content-between align-items-center completed" {% else %} class="list-group-item d-flex justify-content-between align-items-center" {% endif %}>
						<a class="form-check-label" href="{{ path('switch_task',{'id':task.id}) }}">

							{{task.getTaskDescription}}
							<i class="input-helper"></i>
						</a>
						<a class="remove bi bi-trash3" href="{{ path('remove_task',{'id':task.id}) }}"></a>


					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
